@using Microsoft.AspNetCore.Identity;
@using Part2.Areas.Identity.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Part2.Models.Craft>

@{
    ViewData["Title"] = "My Work";
}

<h1 style="text-align: center; color: #F57D1F; font-size: 72px; font-family: Verdana"><strong>My Work</h1></strong>
<hr style="width:93%; text-align:left; margin-left:0">

@if (User.IsInRole("KhumaloCraft User"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Add Craft</a>
    </p>
}

<body style="background-color: #F5E8DD;">
    <div class="container mt-3" style="padding-top: 30px;">
        <div class="row">
            @foreach (var craft in Model)
            {
                <div class="col-sm-4" style="padding-bottom: 30px;">
                    <div class="card" style="height: 550px; width: 300px;">
                        <img src="@craft.imgUrl" class="card-img-top" alt="@craft.CraftName" style="height: 200px; width:300px;">
                        <div class="card-body">
                            <h5 class="card-title">@craft.CraftName</h5>
                            <p class="card-text">@craft.CraftDescription</p>
                            <p style="color: forestgreen">Available</p>
                            <p class="text-muted">Price: R @craft.Price</p>

                            @if (User.IsInRole("KhumaloCraft User"))
                            {
                                <a asp-action="Edit" asp-route-id="@craft.Id" class="btn btn-secondary">Edit</a>
                            }
                            @if (!User.IsInRole("KhumaloCraft User"))
                            {
                                <a asp-action="ConfirmOrder" asp-route-id="@craft.Id" class="btn btn-dark">Order Now</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
